input[type=text] {
    background-color: rgb(20, 37, 52);
    border: none ;
    padding: .5rem;
    color: white;

    &::placeholder {
        color: rgb(39, 139, 220);
        opacity: 1;
    }

    &.border-less {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
    }
    &.placeholder-grey::placeholder {
        color: grey;
    }
}
