.mr-auto {
    margin-right: auto!important;
}
.text-white {
    color: white;
}
.text-success {
    color: green;
}
.text-wrap {
    word-wrap: break-word;
}
.mr-1 {
    margin-right: .25rem;
}
.mr-2 {
    margin-right: .5rem;
}
.mr-3 {
    margin-right: 1rem;
}
.mr-4 {
    margin-right: 1.5rem;
}
.mr-5 {
    margin-right: 3rem;
}
.ml-5 {
    margin-left: 3rem !important;
}
.ml-3 {
    margin-left: 1rem !important;
}
.transparent {
    background-color: transparent ;
}
.w-100 {
    width: 100%;
}
.justify-content-around {
    display: flex;
    justify-content: space-around;
}
.text-center {
    text-align: center;
}